/* EDITOR JSX START  */
.Editor{
    margin-top: 70px;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    border: teal solid 1px;
    display: flex;
}
.right-bar{
    width: 30%;
}
.template{
    width: 70%;

}
/* EDITOR JSX ENDS  */
