.header{
    height: 60px;
    background-color: rgb(122, 166, 206);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.h-form{

}


.h-form input{
    height: 25px;
    padding: 5px;
    width: 300px;
    border: none;
    background: rgb(181, 213, 243);
    color: rgb(122, 166, 206);

}

.h-form input:focus{
    outline: none;
    color: rgb(70, 133, 192);
}

.btn{
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: white;
    background: rgb(15, 48, 80);
}