// PREVENTING BOOTSTRAP DESIGN 


.wrapper{
    button, .btn{
        // width: fit-content;
        border-radius: 0;
    }
}
.navbar{
    a{
        color: whitesmoke !important;
    }
}
.preview-all{
    a{
        text-decoration: none;
        color: whitesmoke !important;
    }
}

.spinner-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(11, 0, 26, 0.527);
}

.spinner-border{
    // display: none;
    position: absolute;
    top: 50%;
    left: 50%;

}
