@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Baskervville&family=Crimson+Pro:wght@200&family=Libre+Caslon+Text&family=Nanum+Myeongjo&display=swap');


$p-color:rgb(122, 166, 206);
$s-color: rgb(181, 213, 243);
$t-color: rgb(15, 48, 80);
$f-color: rgb(70, 133, 192);
$d-color: #e6f2ff;



// PADDING & MARGIN 
$ml : 20px;


$block-height: 9em;

// FONTS 
$crimson-pro:  'Crimson Pro', serif;
$nanum: 'Nanum Myeongjo', serif;
$amiri: 'Amiri', serif;
$baskervville: 'Baskervville', serif;
$caslon: 'Libre Caslon Text', serif;
