@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Baskervville&family=Crimson+Pro:wght@200&family=Libre+Caslon+Text&family=Nanum+Myeongjo&display=swap');


$p-color:lightgray;
$s-color: rgb(230, 225, 225);
$t-color: rgb(15, 48, 80);
$b-color: rgb(2, 21, 39);
$dg-color: darkgray;
$w-color: #ffffff;



// PADDING & MARGIN 
$ml : 20px;
$ml-drop: 10%;

$tbt-width : 54%;
$tbt-ml: 22%;




$block-height: 9em;

// FONTS 
$crimson-pro:  'Crimson Pro', serif;
$nanum: 'Nanum Myeongjo', serif;
$amiri: 'Amiri', serif;
$baskervville: 'Baskervville', serif;
$caslon: 'Libre Caslon Text', serif;



// FONT SIZE 
$fz-h3: 1rem; // FONT SIZE H3
$fz-h2: 2rem;
$fz-h4: 0.8rem;  // THIS IS ALSO FOR LINK
$fz-p-sm: 0.65rem;





// DIFFERENT BREAK POINT FOR RESPONSIVENESS 
$bp-md: 1660px;
$bp-md-sm: 1366px;
$bp-sm: 1280px;
$bp-tab: 768px;