@import "./default";
@import "./variables";
@import "./mixins";









.wrapper{

    // font-family: $caslon;
    // TEMPLATE BUILDER START 
    .template-builder{
        width: 100%  !important;
        // margin-left: 10% !important;
        margin-top: 0;
        background-color: $w-color !important;
        .workpace{
            border: 1px solid $p-color;
            display: flex;
            width: 100%;
            min-height: 100% !important;
            justify-content: flex-end;
            // height: 100%;
                .col-10{
                    border-right: 1px solid $p-color;
                    background-color: $s-color;
                    flex: 75% !important;
                }
                .col-6{
                    flex: 25% !important;

                }                
        }
        h2{
            text-transform: uppercase;
            font-size: $fz-h2;
            font-weight: bold;
        }
        h4{
            font-size: $fz-h4;
            text-transform: capitalize;
            margin: 0;
        }
        h3{
            margin-top: 2rem;
            font-size: $fz-h3;
        }
        
    }

    
    // TEMPLATE BUILDER ENDS 
}










// TEMPLATE START 
.title-bar{
    height: 4em;
    width: 100%;
    background-color: $p-color;
    .title-input-submit{
        height: 100%;
        text-align: center;
        width: $tbt-width;
        margin-left: $tbt-ml;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type = "text"]{
            vertical-align: middle; 
            // @include input_style($h, $w, $p, $bg, $c);
            @include input_style(2rem, 150%, 2%, $w-color, $dg-color);
        }
    
        input[type = "text"]::placeholder{
            font-size: $fz-h4;
            color: $dg-color;
        }
    
        input[type = "text"]:focus{
            outline: none;
            color: $dg-color;
        }
    
        .btn{
            vertical-align: middle;
            @include btn_general($p-color, $t-color, 10px, 20px, 0.85rem, 5px);
        }
        .cancel{
            background: $dg-color;
            color: $t-color;
        }
    }
}


.template-wrapper{
    // min-height: 100%;
    width: $tbt-width;
    margin-left: $tbt-ml;
    margin-top: 3%;
    background: $w-color;
    // background: transparent;


    .content-header{
        margin-top: 10%;
    }


    .header-image{
        height: 60px;
        width: 100%;
        img{
            margin-top: 2%;
            height: 80%;
            margin-left: $ml-drop;
        }
    }
}


 // DROPZONE START 
 .drop-wrapper{
    width: 80%;
    margin-left: $ml-drop;
    margin-top: 2%;
    border: 1px solid $p-color;
    min-height: 50em;  // INITIAL HEIGHT IT WILL CHANGED BY JS

    .drop-row{
        // background: $t-color;
        // color: $p-color;
        width: 100%;
        min-height: 8em;
        // padding: 10px 0;
        border-bottom: 1px solid $s-color;  // SET THIS BORDER USING JAVASCRIPT 
        display: flex;
        overflow: hidden;
        .one-column-div{
            @include drop_column(100%);
            &:hover{
                border: none;
            }
            border-right: none !important;
            text-align: center;
            .btn-content-block{
                // width: 15%;
                float: left;
                // margin-left: 2%;
            }
            .txt-content-block{
                text-align: left;
            }
        }
        
        .two-column-div {
            @include drop_column(50%);
            text-align: center;
            .btn-content-block{
                // width: 30%;
                float: right;
                // margin-right: 5%;
            }
            .txt-content-block{
                text-align: left;
            }
        }
        .three-column-div{
            @include drop_column(33.99%);
            text-align: center;
            margin-left: 0;
            // .btn-content-block{
            //     // width: 35%;
            //     // text-align: center;
            //     // ::before{
            //     //     text-align: center;
            //     // }
            // }
            .txt-content-block{
                text-align: left;
            }
        }
        

        .content{
            width: 96%;
            margin-left: 2%;                              
            
        }
        a{
            text-decoration: none;
            font-size: $fz-h4;
        }

        // THIS SHOULD BE SET BY JS 
        .img-content-block{
            width: auto; //FIXED WIDTH FOR PREVIEW
            display: block;
            // width:90%;
            height: 140px; // HEIGHT AUTO FOR PREVIEW
            // margin-left: 5%;
            // object-position: center;
            // object-fit: cover;
            margin: 2% auto;
        }
        .txt-content-block{
            padding: 2% 0;
            outline: none;
        }

        
       
        
        .icon-content-block{
            margin-top: 4%;
            margin-left: 0;
            display: flex;
            width: 100%;
            justify-content: space-around;
            a{
                padding: 20px 20px;
                // padding-top: 40px;
                // height: 60px !important;
                // width: 60px;
                border-radius: 50%;
                background-color: $t-color;
                img{
                    width: 20px;
                }
            }
        }  
        
        .btn-content-block{
            // margin: 2rem 0;
            text-align: center;
            width: fit-content;
            @include btn_general($p-color, $t-color, 10px, 20px, 0.7rem, 1rem);
            margin-top: 0.5rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            // margin-top: 1rem;
            // margin: 5rem;

        }                              
        
    }
    .space-row-grid{
        height: 1.5rem;
        background: transparent;
        border-bottom: 1px solid rgb(230, 225, 225);
    }
}
// DROPZONE ENDS 

// TEMPLATE ENDS 




// IMPORT RIGHT BAR 
@import './rightbar';



// .add-border{
//     border: 1px solid $t-color;
// }
// // border-right: 1px solid $s-color; 
// .border-right{
//     border-right: 1px solid $t-color;
// }
// .border-bottom{
//     border-bottom: 1px solid $t-color;
// }
// .add-bg{
//     background-color: $p-color;
// }






// IMPORT RESPONSIVENESS 
@import './responsiveness';