@import "./default";
@import "./variables";
@import "./mixins";









.wrapper{

    // font-family: $caslon;
    // TEMPLATE BUILDER START 
    .template-builder{
        width: 80%  !important;
        margin-left: 10% !important;
        // margin-top: 2%;
        background-color: $w-color !important;
        .workpace{
            border: 1px solid $p-color;
            display: flex;
            width: 100%;
            min-height: 100% !important;
            // height: 100%;
                .col-10{
                    border-right: 1px solid $p-color;
                    background-color: $s-color;
                    width: 62.5% !important;
                }
                .col-6{
                    width: 37.5% !important;

                }                
        }
        h2{
            text-transform: uppercase;
            font-size: $fz-h2;
            font-weight: bold;
        }
        h4{
            font-size: $fz-h4;
            text-transform: capitalize;
            margin: 0;
        }
        h3{
            margin-top: 2rem;
            font-size: $fz-h3;
        }
        
    }

    
    // TEMPLATE BUILDER ENDS 
}










// TEMPLATE START 
.title-bar{
    height: 4em;
    width: 100%;
    background-color: $f-color;
    .title-input-submit{
        height: 100%;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type = "text"]{
            vertical-align: middle; 
            // @include input_style($h, $w, $p, $bg, $c);
            @include input_style(2rem, 150%, 2%, $w-color, $p-color);
        }
    
        input[type = "text"]::placeholder{
            font-size: $fz-h4;
            color: $p-color;
        }
    
        input[type = "text"]:focus{
            outline: none;
            color: $f-color;
        }
    
        .btn{
            vertical-align: middle;
            @include btn_general($f-color, $t-color, 10px, 20px, 0.85rem, 5px);
        }
        .cancel{
            background: $p-color;
        }
    }
}


.template-wrapper{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    background: $w-color;


    .content-header{
        margin-top: 10%;
    }


    .header-image{
        height: 60px;
        width: 100%;
        img{
            height: 80%;
            margin-top: 2%;
            margin-left: $ml-drop;
        }
    }
}


 // DROPZONE START 
 .drop-wrapper{
    width: 80%;
    margin-left: $ml-drop;
    margin-top: 2%;
    border: 1px solid $p-color;
    min-height: 50em;  // INITIAL HEIGHT IT WILL CHANGED BY JS

    .drop-row{
        // background: $t-color;
        // color: $f-color;
        width: 100%;
        min-height: 8em;
        // padding: 10px 0;
        border-bottom: 1px solid $s-color;  // SET THIS BORDER USING JAVASCRIPT 
        display: flex;
        overflow: hidden;
        .one-column-div{
            @include drop_column(100%);
            &:hover{
                border: none;
            }
            border-right: none !important;
            text-align: center;
            .btn-content-block{
                // width: 15%;
                float: left;
                // margin-left: 2%;
            }
            .txt-content-block{
                text-align: left;
            }
        }
        
        .two-column-div {
            @include drop_column(50%);
            text-align: center;
            .btn-content-block{
                // width: 30%;
                float: right;
                // margin-right: 5%;
            }
            .txt-content-block{
                text-align: left;
            }
        }
        .three-column-div{
            @include drop_column(33.99%);
            text-align: center;
            margin-left: 0;
            // .btn-content-block{
            //     // width: 35%;
            //     // text-align: center;
            //     // ::before{
            //     //     text-align: center;
            //     // }
            // }
            .txt-content-block{
                text-align: left;
            }
        }
        

        .content{
            width: 96%;
            margin-left: 2%;                                   
            
        }
        a{
            text-decoration: none;
            font-size: $fz-h4;
        }
        // THIS SHOULD BE SET BY JS 
        .img-content-block{
            width: auto; //FIXED WIDTH FOR PREVIEW
            display: block;
            // width:90%;
            height: 140px; // HEIGHT AUTO FOR PREVIEW
            // margin-left: 5%;
            // object-position: center;
            // object-fit: cover;
            margin: 2% auto;
        }
        .txt-content-block{
            padding: 2% 0;
            outline: none;
        }

        
       
        
        .icon-content-block{
            margin-top: 4%;
            margin-left: 0;
            display: flex;
            width: 100%;
            justify-content: space-around;
            a{
                padding: 20px 20px;
                // padding-top: 40px;
                // height: 60px !important;
                // width: 60px;
                border-radius: 50%;
                background-color: $t-color;
                img{
                    width: 20px;
                }
            }
        }  
        
        .btn-content-block{
            // margin: 2rem 0;
            text-align: center;
            width: fit-content;
            @include btn_general($f-color, $t-color, 10px, 20px, 0.7rem, 1rem);
            margin-top: 0.5rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            // margin-top: 1rem;
            // margin: 5rem;

        }                              
        
    }
    .space-row-grid{
        height: 1.5rem;
        background: transparent;
    }
}
// DROPZONE ENDS 

// TEMPLATE ENDS 






// RIGHTBAR START 
.right-bar{
    align-self: flex-start;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 20px !important;
    left: 0;
    // height: 100vh;


    color: $p-color;
    background: $w-color;
    // border: 1px solid $p-color;
    overflow: hidden;
    // contain: content;


    .rb-wrapper{



        // -webkit-transform: translateZ(0);
        width: 90%;
        height: 100%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}



// BLOCK START 
.rb-block{
    h4{
        margin-top: 2rem;
    }
                
    // COLUMN BLOCK START 
    .column-block{
        display: flex;
        flex-direction: row;
        // height: 100%;
        align-items: center;

        .block-col{
            background: $s-color;
            width: 90%;
            // margin: 0 3%;
            height: $block-height;
            border: 1px solid $s-color;
            // padding: 10px 0;
            align-items: center;
            // margin-top: 5px;
        }
        .col-1-grid{
            margin-right: 3%;
            .content-holder{
                margin-left: 20%;
                @include content_holder(60%, 60%, 18% );
            }
        }
        .col-2-grid{
            @include block_col_2_3();
            .content-holder{
                @include content_holder(35%, 60%, 0);
            }
        }
        .col-3-grid{
            margin-left: 3%;
            @include block_col_2_3();
            .content-holder{
                @include content_holder(20%, 60%, 0);
            }
        }
    }
    // COLUMN BLOCK ENDS dr


    // CONTENT BLOCK START 
    .content-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        .content-block-col{
            width: 30%;
            height: $block-height;
            margin-bottom: 1rem;
            border: $s-color solid 1px;
            background-color: $f-color;
            img{
                width: 70%;
                margin-left: 10%;
                filter: invert(100%);
                -webkit-filter: invert(100%);
            }
            p{
                text-align: center;
                margin-top: 2%;
            }
        }
    }
    // CONTENT BLOCK ENDS 
}
// BLOCK ENDS 



// ELEMENTS START 
.rb-block-elements{
    height: 100%;
    .elements{
        img{
            height: 60px;
            object-position: center;
            object-fit: cover;
            width: 100%;
            // margin-left: 10%;
        }
        .input-row{
            display: block !important;
            width: 100% !important;
            margin-bottom: 2% !important;
            input[type="color"]{
                float: right;
            }
        }
        .elements-header{
            img{
                margin-top: 3%;
            }
            input[type="file"]::-webkit-file-upload-button{
                @include btn_general($t-color, $p-color, 10px, 20px, 0.7rem, 5px);
            }
        }

    }
}
// ELEMENTS ENDS 


// PROPS START 
.rb-props{
    display: none;
    .props-with-label{
        margin-bottom: 5%;
    }
    input[type = "text"]{
        float: right;
        // @include input_style($h, $w, $p, $bg, $c);
        @include input_style(1rem, 60%, 15px, $s-color, $p-color);
    }

    input[type = "text"]::placeholder{
        color: $p-color;

    }

    input[type = "text"]:focus{
        outline: none;
        color: $f-color;
    }
    // input[type="checkbox"]{
    //     float: right;
    // }
    .props{
        display: none;
        .img-wrap{
            input[type="file"]{
                // background: $s-color;
                margin-bottom: 5px;
            }
            input[type="file"]::-webkit-file-upload-button{
                // @include btn_general($t-color, $p-color);
                @include btn_general($t-color, $p-color, 10px, 20px, 0.7rem, 5px);
            }
        
            img{
                width: 50%;
                margin: 5% 0;
            }
        }

        .btn-icon{
            margin: 10px 0;
            @include btn_general($t-color, $p-color, 3px, 20px, 1.5rem, 5px);
            margin-left: 0;
            cursor: pointer;
        }

        select{
            height: 2rem;
            border: none;
            background: $s-color;
        }
        select:focus{
            outline: none;
        }
        .txt-link{
            margin-top: 5%;
        }
        .txt-tab-wrap{
            margin-top: 5%;
        }
        input[type="color"]{
            float: right;
        }
        .btn-text{
            margin-top: 5%;
        }
    }
}
// PROPS ENDS  


// RIGHTBAR ENDS 





// .add-border{
//     border: 1px solid $t-color;
// }
// // border-right: 1px solid $s-color; 
// .border-right{
//     border-right: 1px solid $t-color;
// }
// .border-bottom{
//     border-bottom: 1px solid $t-color;
// }
// .add-bg{
//     background-color: $f-color;
// }







// RESPONSIVENESS 
/* Using SCSS variables to store breakpoints */
// $breakpoint-tablet: 768px;
// $breakpoint-sm-laptop: 1080px;

// $bp-md: 1660px;
// $bp-md-sm: 1366px;
// $bp-sm: 1220px;


@media (max-width: $bp-md){
    .col-1-grid{
        .content-holder{
            margin-top: 22% !important;
            // align-items: center
        }
    }




    .content-block-col{
        height: $block-height - 1em !important;
        img{
            margin-top: 5% !important;
            width: 60% !important;
            margin-left: 15% !important;
        }
        p{
            margin-top: 3.5% !important;
        }
    }
}




@media (max-width: $bp-md-sm){
    .content-block-col{
        height: $block-height - 2em !important;
        img{
            margin-top: 8% !important;
            width: 50% !important;
            margin-left: 18% !important;
        }
    }
}



@media (max-width: $bp-sm){
    .title-input-submit{
        input[type = "text"]{
            width: 115% !important;
        }
    
        input[type = "text"]::placeholder{
            font-size: $fz-h4 - 0.1rem !important;
        }
    
        .btn{
            vertical-align: middle;
            // @include btn_general_sm($py, $px, $fz, $ml);
            @include btn_general_sm(7px, 12px, 0.75rem, 3px);
        }
    }
    .col-1-grid{
        .content-holder{
            margin-top: 25% !important;
        }
    }
}



@media (max-width: $bp-tab){
    .title-input-submit{
        margin-left: 0 !important;
        input[type = "text"]{
            width: 80% !important;
        }
    
        input[type = "text"]::placeholder{
            font-size: $fz-h4 - 0.1rem !important;
        }
    
        .btn{
            vertical-align: middle;
            // @include btn_general_sm($py, $px, $fz, $ml);
            @include btn_general_sm(7px, 9px, 0.65rem, 2px);
        }
    }

    .col-1-grid{
        .content-holder{
            margin-left: 50%;
            @include content_holder_device(40%, 40%, 50%);
        }
    }
    .col-2-grid{
        .content-holder{
            @include content_holder_device(35%, 40%, 10%);
        }
    }
    .col-3-grid{
        margin-left: 3%;
        .content-holder{
            @include content_holder_device(25%, 40%, 10%);
        }
    }

    .block-col{
        height: $block-height - 3em !important;
    }


    .content-block-col{
        height: $block-height - 3em !important;
        img{
            margin-top: 25% !important;
        }
        p{
            font-size: $fz-p-sm;
        }

    }
}





// @media (max-width: $breakpoint-sm-laptop) {
//     // TEMPLATE START 
//     .title-bar{
//         height: 2.8rem;
//         input[type = "text"]{
//             height: 1rem;
//             padding: 3px;
//             width: 14rem;
//         }

//         input[type = "text"]::placeholder{
//             font-size: 0.7rem;    
//         }
//         .btn{
//             @include btn_general($f-color, $t-color, 0.5rem, 0.9rem, 0.5rem, 5px);
//             // @include btn_general($f-color, $t-color);
//         }
//     }
//     .template-wrapper{
//         margin-top: 2%;   
    
//         .header-image{
//             height: 3rem;
//         }
//         // DROPZONE START 
//         .drop-wrapper{
//             // DYNAMICALLY CHANGE BY JAVASCRIPT 
//             height: 35em;
    
//             .drop-row{
//                 min-height: 8em;
//                 padding: 5px 0;
                                          
                
//             }
//             // .space-row-grid{
//             //     height: 40px;
//             //     background: $s-color;
//             // }
//         }
//         // DROPZONE ENDS 
//     }
//     // TEMPLATE ENDS 
// }



// @media (max-width: $breakpoint-tablet) {
//     // TEMPLATE START 
//     .title-bar{
//         input[type = "text"]{
//             height: 0.8rem;
//             padding: 2px;
//             width: 10rem;
//         }

//         .btn{
//             @include btn_general($f-color, $t-color, 0.3rem, 0.5rem, 0.6rem, 3px);
//         }
//     }



//     // TEMPLATE ENDS 
// }



