<div class="container">
    <br><br><br>
    <div class="card border-danger">
        <div class="card-body text-danger">
            <h5 class="card-title">404</h5>
            <h6 class="card-subtitle mb-2 text-muted">Not Found</h6>
            <p class="card-text">The server can not find the requested resource. In the browser, this means the URL is
                not recognized..</p>
            <a href="/" class="card-link">Home</a>
            <a href="/template" class="card-link">Template</a>
        </div>
    </div>
</div>