<div class="container">
    <h2 class="h2 alert alert-primary">Upload image to aws S3</h2>
    <div class="file-upload mb-3">
        <label for="title" class="form-label">Image Title</label>
        <input class="title form-control" placeholder="Image title" id="title" type="text">
    </div>
    <div class="file-upload mb-3">
        <label for="file-input" class="form-label">Image 1</label>
        <input class="file-input form-control" id="file-input" type="file">
    </div>
    <div class="file-upload mb-3">
        <label for="file-input-2" class="form-label">Image 2</label>
        <input class="file-input form-control" id="file-input-2" type="file">
    </div>

    <button class="upload-btn btn btn-primary" id="submit-update">Update file</button>
    <button class="upload-btn btn btn-primary" id="submit-upload">Upload file</button>
    <button class="upload-btn btn btn-primary" id="submit-multiple-upload">Upload multiple file</button>
</div>


<hr>
<hr>
<hr>
<hr>
<div class="container">
    <div class="alert alert-secondary p-4">
        <!-- <img height="200" src="/<%- src %>" alt=""> -->
        <img height="200" src="/header.jpg" alt="">
        <!-- <img class="img-thumbnail" src="uploads/test.jpg" alt="">
        <img class="img-thumbnail" src="/uploads/test.jpg" alt="">
        <img class="img-thumbnail" src="test.jpg" alt="">
        <img class="img-thumbnail" src="/test.jpg" alt="">
        <hr>
        <img class="img-thumbnail" src="uploads/header-img-H1-U3_ALE-32-3.jpg" alt="">
        <img class="img-thumbnail" src="/uploads/header-img-H1-U3_ALE-32-3.jpg" alt="">
        <img class="img-thumbnail" src="/header-img-H1-U3_ALE-32-3.jpg" alt="">
        <img class="img-thumbnail" src="header-img-H1-U3_ALE-32-3.jpg" alt=""> -->
    </div>
</div>
<script>
    console.log('<%- src %>');
</script>