<div class="file-upload">
    <input class="file-input" id="file-input" type="file">
</div>
<div class="file-upload">
    <input class="file-input" id="file-input-2" type="file">
</div>
<div class="file-upload">
    <input class="title" id="title" type="text">
</div>

<button class="upload-btn" id="submit-upload">Upload file</button>
<button class="upload-btn" id="submit-multiple-upload">Upload multiple file</button>