.Navbar{
    height: 50px;
    width: 100%;
    /* margin-left: 10%; */
    background: rgb(12, 97, 40);
    color: white;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;

}
