
@mixin content_holder($width, $height, $mtop ){
    width: $width;
    height: $height;
    margin-top: $mtop;
    background: $f-color;
}

@mixin block_col_2_3(){
    display: flex;
    justify-content: space-around;
}


@mixin header_image($height){
    color: $t-color;
    height: $height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}