<div class="ui container">
    <div class="container">
        <h2 class="h2 alert alert-primary">Upload image and update</h2>
        <div class="file-upload mb-3">
            <label for="title" class="form-label">Image Title</label>
            <input class="title form-control" placeholder="Image title" id="update-title" type="text">
        </div>
        <div class="file-upload mb-3">
            <label for="update-img" class="form-label">Image 1</label>
            <input class="file-input form-control" id="update-img" type="file">
        </div>

        <button class="upload-btn btn btn-primary" id="update-submit">Upload or Update</button>
    </div>
</div>