<style>
    .template-wrapper {
        width: 640px;
        height: 100%;
    }
</style>

<div id="container">


    <!-- TEMPLATE EDITING START  -->
    <div class="template-wrapper">
        <div class="header-image">
            <img class="header-img" id="header-img" src="/default-header.jpg" />

        </div>
        <!-- DROPABLE ZONE START -->
        <div class="drop-wrapper" id="drop-zone"></div>
        <!-- DROPABLE ZONE ENDS  -->
    </div>
    <!-- TEMPLATE EDITING ENDS  -->




    <hr>
    <hr>
    <hr>



</div>


<script>








    // var buffer = new ArrayBuffer(imgList[0].binaryImg);
    // var view = new Int32Array(buffer);
    // console.log("Buffer to img: ",buffer.toString('base64'));
    // console.log("img list: ", imgList);



</script>